@font-face {
  font-family: 'DomaineSansText';
  src: url('/fonts/DomaineSansText-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DomaineSansText';
  src: url('/fonts/DomaineSansText-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DomaineSansText';
  src: url('/fonts/DomaineSansText-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DomaineSansText';
  src: url('/fonts/DomaineSansText-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DomaineSansText';
  src: url('/fonts/DomaineSansText-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DomaineSansText';
  src: url('/fonts/DomaineSansText-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DomaineSansText';
  src: url('/fonts/DomaineSansText-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DomaineSansText';
  src: url('/fonts/DomaineSansText-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DomaineSansText';
  src: url('/fonts/DomaineSansText-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DomaineSansText';
  src: url('/fonts/DomaineSansText-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
